{% extends 'base.html' %}
{% block title %}
{% load static %}
<div class="ftco-blocks-cover-1">
      <div class="ftco-cover-1 overlay" style="background-image: url('{% static 'images/hero_2.jpg' %}')">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-7 text-center">
              <h1  data-aos="fade-up" data-aos-delay="0">Let's Think Technology</h1>
              <p  data-aos="fade-up" data-aos-delay="100">A new free template by Untree.co. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, delectus. Fugiat consequatur hic amet officiis laboriosam inventore repellat esse est.</p>
              <p data-aos="fade-up" data-aos-delay="200"><a href="#" class="btn primary-outline-white--hover">Get Started</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock title %}
{% block content %}
<p>Fin</p>

{% endblock content %}